---
- name: update repo cache (debian)
  become: yes
  apt: 
    update_cache: yes
  when: ansible_facts['os_family'] == "Debian"

- name: install updates (debian)
  become: yes
  apt: 
    name: "*"
    state: latest
  when: ansible_facts['os_family'] == "Debian"

- name: add username to sudoers
  become: yes
  template: 
    src: sudoers.j2
    dest: "/etc/sudoers.d/{{ sudoers_user }}"
    owner: root
    group: root
    mode: 440

- name: install required packages
  become: yes
  apt: 
    name: 
      - ansible
      - docker
      - docker.io
      - python3
      - python3-docker
      - python3-ldap
      - maven
      - vim 
      - screen
      - git
      - openconnect
    state: latest
  when: ansible_facts['os_family'] == "Debian"

- name: create docker group
  become: yes
  group: 
    name: docker
    state: present

- name: "add {{ sudoers_user }} to docker group"
  become: yes
  user: 
    name: "{{ sudoers_user }}"
    group: "{{ sudoers_user }}"
    groups: docker
    append: yes