- name: install updates
  become: yes
  yum: 
    name: '*'
    state: latest

- name: install required packages
  become: yes
  yum: 
    name: 
      - ansible
      - docker
      - python3
      - python3-docker
      - python3-ldap
      - maven
      - vim 
      - screen
      - git
      - openconnect
      - htop
      - postfix
    state: present

